@font-face {
  font-family: 'Montserrat Semi-bold';
  src: url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay Semi-bold';
  src: url('assets/fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay Semi-bold';
  src: url('assets/fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Dosis';
  src: url('assets/fonts/Dosis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Eleganticons';
  src: url('assets/fonts/Eleganticons.ttf') format('truetype');
  font-style: normal;
}
