@keyframes fadeInDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animated__fadeInDown {
  animation: 1s ease-in both fadeInDown;
}
.delay1 {
  animation-delay: 0.2s;
}
.delay2 {
  animation-delay: 0.4s;
}
.delay3 {
  animation-delay: 0.9s;
}
.delay4 {
  animation-delay: 1.2s;
}
.delay5 {
  animation-delay: 1.5s;
}

.content {
  transition: all 0.5s ease-in;
}
.change-route-enter {
  opacity: 0;
}
.change-route-enter-active {
  opacity: 0;
}
.change-route-enter-to {
  opacity: 1;
}
.change-route-leave {
  opacity: 0;
}
.change-route-leave-active {
  opacity: 0;
}
.change-route-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
