@keyframes fadeInDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animated__fadeInDown {
  animation: 1s ease-in both fadeInDown;
}
.delay1 {
  animation-delay: 0.2s;
}
.delay2 {
  animation-delay: 0.4s;
}
.delay3 {
  animation-delay: 0.9s;
}
.delay4 {
  animation-delay: 1.2s;
}
.delay5 {
  animation-delay: 1.5s;
}
