@use '@/assets/_fonts.scss' as *;
@use '@/assets/base.scss' as *;
@use '@/assets/breakpoints.scss' as *;
@use '@/assets/variables.scss' as *;

body,
html {
  min-height: 100vh;
  min-height: 100svh;
  background: var(--color-background);
  font-family: $base-font;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*color: var(--color-text);*/
  /*transition:*/
  /*  color 0.3s,*/
  /*  background-color 0.3s;*/
}

#app {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button {
  -webkit-appearance: none;
  font-family: $base-font;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-inline: 20px;
}


/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/
/*}*/
