$base-font: 'Montserrat Light', sans-serif !default;
$accent-font: 'OrelegaOne', sans-serif;

$green-dark: #6f6f6f;
$bokara: #4f493f;
$herbal: #778069;
$dark-cyan: #3b4d55;
$ocean: #6f8c96;
$cyan: #79a2ac;
$white: #fafafa;
$champagne: #ddd1c4;
$sunflower: #f3a80d;

$a: #d8aa90;
$b: #d0d8db;
$c: #5f7374;
$d: #42342b;
$e: #262626;
